.rec-circsmall {
  width: 12px;
  height: 12px;
  border: 3px solid var(--border-color);
  background: var(--background-color);
  border-radius: 999%;
  margin-left: -32.4px;
  position: relative;
  top: 23px;
}
.rec-timeline {
  width: 96%;
  height: 90%;
  padding: 40px 0 50px 25px;
//   padding-left: 25px;
  border-left: 3px solid;
  border-image: linear-gradient(#0000 0%, var(--border-color) 100px, var(--border-color) 90%, #0000 100%) 1;
}
.rec-circbig {
  width: 20px;
  height: 20px;
  border: 3px solid var(--primary-color);
  background: var(--background-color);
  border-radius: 999%;
  margin-left: -36.5px;
  position: relative;
  top: 30px;
  box-shadow: 0 0 50px 5px transparent;
}
.rec-uparrow {
  position: relative;
  top: 20.3px;
  right: 7.9px;
  color: var(--border-color);
  font-size: 25px;
}
.rec-content {
  display: block;
  background: var(--second-background-color);
  padding: 20px;
  width: 100%;
  margin-left: 10px;
  box-shadow: var(--redefine-box-shadow-flat);
  border-radius: 10px;
}
