<div class="nf-container">
    <div class="nf-text">
        <h1>
            <img src="https://image.179.life/deon-emoji/deon_vomiting-blood.png"
                width="200">
        </h1>
        <!-- <h1><i class="fa-regular fa-xmark"></i></h1> -->
        <h2><b>诶...你好像来到了一个不存在的地方...</b></h2>
        <br />
        <h2>404 Not Found</h2>
    </div>
    <div class="nf-button">
        <a href="/" class="button large center"><i
                class="fa-regular fa-house"></i> 返回首页</a>
    </div>
</div>
