<% const timeline=theme.records.timeline %>
<% const contentTop=theme.records.contenttop %>

<div class="article-content markdown-body px-2 sm:px-6 md:px-8 pb-8">
    <%- markdown(contentTop) %>
    <!-- <i class="fa-sharp fa-regular fa-arrow-up rec-uparrow"></i> -->
    <div class="rec-timeline">
        <% for (const i of timeline) { %>
            <h2>
                <div class="rec-circbig"></div>
                <span><%= i.year %></span>
            </h2>
            <% for (const record of i.records) { %>
                <h4>
                    <div class="rec-circsmall"></div>
                    <span><%= record.name %></span>
                </h4>
                <span class="rec-content">
                    <%- markdown(record.content) %>
                </span>
            <% } %>
        <% } %>
    </div>
</div>
